[user]
  email = me@ruben.io
  name = Ruben Paz
  signkey = 84B30D23
[commit]
  gpgsign = true
[alias]
  co = checkout
  br = branch
  ci = commit --message
  st = status
  cod = checkout development
  com = checkout master
  last = log -1 HEAD
  put = push --follow-tags
  his = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset%n' --abbrev-commit --date=short --branches
  staash = stash --include-untracked
  staaash = stash --all

[color]
	ui = true
[push]
	default = simple
[core]
	excludesfile = /home/istar/.gitignore_global
